<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Watermark</id>
<name>图片水印</name>
<url>https://www.talklee.com/blog/499.html</url>
<note>上传的图片自动添加水印</note>
<description>上传的图片自动添加水印</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>李洋博客</name>
  <email>vip@talklee.com</email>
  <url>https://www.talklee.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151935</adapted>
<version>2.7</version>
<pubdate>2014-06-15</pubdate>
<modified>2022-03-01</modified>
<price>0</price>
<phpver>5.6</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>