<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>mo_sitemap</id>
<name>sitemap网站地图生成器</name>
<url></url>
<note>生成网站sitemap地图，包括sitemaps索引,支持定量生成，支持计划生成</note>
<description>生成网站sitemap地图，包括sitemaps索引,支持定量生成，支持计划生成</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>漠漠睡</name>
  <email>null@null.com</email>
  <url></url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151935</adapted>
<version>1.0</version>
<pubdate>2020-03-20</pubdate>
<modified>2020-03-21</modified>
<price>0</price>
<phpver>5.4</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>